body{
    background-color: rgba(0, 0, 255, 0.369);
}

.title{
    font-size: 60px;
    font-weight: 700;
    font-style: oblique;
    font-family: cursive;
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

button{
    font-weight: 700;
    font-size: 20px;
    border-radius: 9999px;
    padding: 26px;
}

.image{
    border-radius: 14px;
}